.productsSection {
  flex: 7;
}
.productsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 1.5rem;
}

.productImgSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.productImage {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.addtoCartButton {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: -15px;
  color: black;
  border-radius: 25px;
  border: 1px solid hsl(14, 86%, 42%);
  cursor: pointer;
  background-color: white;
  padding: 10px 30px;
}
.addtoCartButton:hover {
  transform: scale(1.1);
}
.quantityButton{
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: -15px;
  color: white;
  border-radius: 25px;
  border: 1px solid hsl(14, 86%, 42%);
  background-color: hsl(14, 86%, 42%);
  padding: 10px 30px;
}
.quantityChangeButtons{
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.0);
  border: 1px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.productInfoSection {
  text-align: left;
  line-height: 1;
  padding: 10px 0px;
  margin-top: 10px;
}
.productType {
  color: rgba(0, 0, 0, 0.65);
}
.productPrice {
  color: hsl(14, 86%, 42%);
  font-weight: 600;
}
